<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID"
         version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>

    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>

    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>test.jersey</param-value>
    </init-param>

    <load-on-startup>1</load-on-startup>
  </servlet>

  <listener>
    <listener-class>test.jersey.ServletContextClass</listener-class>
  </listener>

  <listener>
    <display-name>ImageIO service provider loader/unloader</display-name>
    <listener-class>com.twelvemonkeys.servlet.image.IIOProviderContextListener</listener-class>
  </listener>

  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/estrips/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>dnd.html</welcome-file>
  </welcome-file-list>
</web-app>